<div
  class="container d-flex justify-content-center align-items-center gap-4"
  style="min-height: calc(100vh - 100px)"
>
  <img
    src="images/undraw_create.svg"
    class="img-thumbnail"
    style="height: 386px"
    width="450px"
  />

  <form
    class="p-4 bg-white rounded"
    style="width: 350px; border: 1px solid #dee2e6"
  >
    <div class="mb-3">
      <label class="form-label text-dark">Nome:</label>
      <input type="text" class="form-control" placeholder="Digite seu nome" />
    </div>

    <div class="mb-3">
      <label class="form-label text-dark">Email:</label>
      <input
        type="email"
        class="form-control"
        placeholder="Digite seu e-mail"
      />
    </div>

    <div class="mb-3">
      <label class="form-label text-dark">Senha:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Digite sua senha"
      />
    </div>

    <span class="pb-3 d-block">Registrar-se com:</span>

    <div class="d-flex gap-2">
      <button
        [routerLink]="['/dashboard']"
        class="btn flex-fill"
        type="submit"
        style="background-color: #0b5389; color: #fff"
      >
        <i class="bi bi-envelope-fill"></i>
      </button>
      <button
        [routerLink]="['/dashboard']"
        class="btn flex-fill"
        type="submit"
        style="background-color: #0b5389; color: #fff"
      >
        <i class="bi bi-google"></i>
      </button>
    </div>
  </form>
</div>
