<div class="container-fluid main p-3">
  <div>
    <div>
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
      </nav>

      <h1 class="px-5"><strong>Notificações:</strong></h1>
      <div class="p-5">
        <form class="p-4 rounded" style="background-color: #e8e8e8">
          <button class="btn btn-danger">
            Notificações

            <i class="bi bi-exclamation-circle-fill"></i>
          </button>
        </form>
      </div>
      <span class="badge btn btn-danger btn-outline-danger">4</span>
    </div>
  </div>
</div>
