<div class="container-fluid main p-3">
  <div>
    <div>
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Notificações</li>
          <li class="breadcrumb-item"><a href="#">Histórico</a></li>
        </ol>
      </nav>

      <h1 class="px-5"><strong>Notificações:</strong></h1>
      <div class="p-5">
        <form class="rounded d-flex flex-column">
          <div class="card mb-3">
            <span class="badge btn btn-danger btn-outline-danger">1</span>
            <div class="card-body">Cadastrar CPF / CNPJ</div>
          </div>

          <div class="card mb-3">
            <span class="badge btn btn-danger btn-outline-danger">2</span>
            <div class="card-body">Cadastrar CPF / CNPJ</div>
          </div>

          <div class="card mb-3">
            <span class="badge btn btn-danger btn-outline-danger">3</span>
            <div class="card-body">Cadastrar CPF / CNPJ</div>
          </div>

          <div class="card mb-3">
            <span class="badge btn btn-danger btn-outline-danger">4</span>
            <div class="card-body">Cadastrar CPF / CNPJ</div>
          </div>
        </form>
      </div>

      <h1 class="px-5"><strong>Histórico:</strong></h1>
      <div class="p-5">
        <form class="rounded d-flex flex-column">
          <div class="card mb-3">
            <span class="badge btn btn-danger btn-outline-danger">1</span>
            <div class="card-body">Cotação {{ 1 }}</div>
          </div>
        </form>
      </div>
    </div>
    
  </div>
</div>
