<div class="container-fluid main p-3">
  <div>
    <div>
      <h1 class="px-5"><strong>Solicitar cotação:</strong></h1>
      <div class="p-5">
        <form class="p-4 rounded" style="background-color: #c9d2da">
          <div class="d-flex align-items-center gap-5">
            <div class="d-flex flex-column ml-3">
              <label for="tipo" class="pb-2">Tipo</label>
              <select name="tipo" id="tipo" class="form-select">
                <option value="ALIMENTOS">ALIMENTOS</option>
                <option value="MADEIRA">MADEIRA</option>
                <option value="LIMPEZA">LIMPEZA</option>
                <option value="OUTROS">OUTROS</option>
              </select>
            </div>

            <div class="d-flex flex-column ml-3">
              <label for="nome-produto" class="pb-2">Nome do produto</label>
              <input type="text" id="nome-produto" class="form-control" />
            </div>

            <div class="d-flex flex-column ml-3">
              <label for="quantidade" class="pb-2">Quantidade</label>
              <input type="number" id="quantidade" class="form-control" />
            </div>
          </div>
          <button
            type="button"
            class="btn btn-success mt-4 d-flex align-items-center justify-content-center gap-2"
          >
            <i class="bi bi-send"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
