<div class="container-fluid main p-3">
  <div>
    <div>
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
      </nav>

      <h1 class="px-5"><strong>Seu perfil:</strong></h1>

      <div class="p-5">
        <div class="p-4 rounded" style="background-color: #e8e8e8">
          <form>
            <div class="mb-3">
              <label class="form-label">Nome:</label>
              <input
                type="text"
                class="form-control"
                placeholder="Lucas"
                disabled
              />
            </div>

            <div class="mb-3">
              <label class="form-label">CNPJ:</label>
              <input
                type="text"
                class="form-control"
                placeholder="00.000.000/0000-00"
                mask="00.000.000/0000-00"
                formControlName="cnpj"
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Empresa:</label>
              <input type="text" class="form-control" placeholder="QuoteFlow" />
            </div>

            <div class="mb-3">
              <label class="form-label">Telefone:</label>
              <input
                type="text"
                class="form-control"
                placeholder="+00 (00) 00000000"
                mask="(00) 00000000||+00 (00) 00000000"
              />
            </div>

            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Concordo com os termos e condições.</label
              >
            </div>

            <button class="btn btn-primary">Submeter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
