<aside id="sidebar" [class.expand]="isExpanded">
  <div class="d-flex">
    <button class="toggle-btn" type="button" (click)="toggleSidebar()">
      <i class="lni lni-grid-alt"></i>
    </button>
    <div class="sidebar-logo">
      <a [routerLink]="['/login']" class="fs-5 text">QuoteFlow</a>
    </div>
  </div>
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a [routerLink]="['/dashboard/profile']" class="sidebar-link">
        <i class="lni lni-user"></i>
        <span class="fs-5 text">Perfil</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a [routerLink]="['/dashboard/quotation']" class="sidebar-link">
        <i class="lni lni-agenda"></i>
        <span class="fs-5 text">Cotação</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a [routerLink]="['/dashboard/notifications']" class="sidebar-link">
        <i class="lni lni-popup"></i>
        <span class="fs-5 text">Notificações</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <i class="lni lni-cog"></i>
        <span class="fs-5 text">Configurações</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <a [routerLink]="['/']" class="sidebar-link">
      <i class="lni lni-exit"></i>
      <span class="fs-5 text">Logout</span>
    </a>
  </div>
  <div class="sidabar-footer">
    <button type="button" class="btn btn-primary position-relative">
      Inbox
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        99+
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
  </div>
</aside>
