@media (max-width: 600px) {
  #navbarNav {
    display: none;
  }
  #navbarNav.show {
    display: block;
    width: 100%;
    background-color: white;
  }
  .navbar-toggler {
    display: inline-block;
  }
}

.btn:hover {
  background-color: #0b5289c5!important;
}
