<div style="width: calc(95.5vw)" class="main p-3">
  <div class="text-right">
    <div>
      <h2>Solicitar orçamento</h2>
      <div style="padding: 40px">
        <form style="background-color: #c9d2da; padding: 40px">
          <div class="d-flex align-items-center" style="margin-bottom: 20px">
            <h4 style="margin-right: 60px">Informações:</h4>
          </div>

          <div class="d-flex align-items-center">
            <div>
              <label for="">Tipo</label>
              <select name="" id="">
                <option value="ALIMENTOS">ALIMENTOS</option>
                <option value="MADEIRA">MADEIRA</option>
                <option value="LIMPEZA">LIMPEZA</option>
                <option value="OUTROS">OUTROS</option>
              </select>
            </div>

            <div>
              <label for="" style="margin-left: 20px">Nome do produto</label>
              <input
                type="text"
                placeholder="COXINHA"
                style="margin-left: 10px"
              />
            </div>

            <div>
              <label for="" style="margin-left: 20px">Quantidade</label>
              <input type="text" placeholder="4" style="margin-left: 10px" />
            </div>

            <button
              class="btn"
              style="background-color: #0b5389; margin-left: 20px"
            >
              SOLICITAR COTAÇÃO
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
