<div class="container-fluid main p-3">
  <div>
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>

    <!-- Alerta adicional com botão de fechar, visível com base na variável showNotificationAlert -->
    <div
      *ngIf="showNotificationAlert"
      class="alert alert-success d-flex align-items-center justify-content-between"
      role="alert"
    >
      <!-- Instrução para o usuário sobre como visualizar o histórico de notificações -->
      Você pode visualizar todo o seu histórico de notificações clicando na aba
      "Histórico de notificações" logo acima. ☝️
      <!-- Botão para fechar o alerta, ao clicar executa a função closeButton() -->
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="closeButton()"
      ></button>
    </div>

    <h1 class="px-5"><strong>Configurações:</strong></h1>

    <div class="p-5">
      <div
        class="p-4 rounded"
        style="
          background-color: #e8e8e8;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        "
      >
        <form>
          <span class="placeholder col-6"></span>
          <span class="placeholder w-75"></span>
          <span class="placeholder" style="width: 25%"></span>
        </form>
      </div>
    </div>
  </div>
</div>
