<div class="container-fluid main p-3">
  <div>
    <div>
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Cotações</li>
          <li class="breadcrumb-item"><a href="">Histórico de cotações</a></li>
        </ol>
      </nav>

      <!-- Alerta adicional com botão de fechar, visível com base na variável showNotificationAlert -->
      <div
        *ngIf="showNotificationAlert"
        class="alert alert-success d-flex align-items-center justify-content-between"
        role="alert"
      >
        <!-- Instrução para o usuário sobre como visualizar o histórico de notificações -->
        Você pode visualizar todo o seu histórico de notificações clicando na
        aba "Histórico de notificações" logo acima. ☝️
        <!-- Botão para fechar o alerta, ao clicar executa a função closeButton() -->
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeButton()"
        ></button>
      </div>

      <h1 class="px-5"><strong>Solicitar cotação:</strong></h1>
      <div class="p-5">
        <form [formGroup]="quotationForm" (ngSubmit)="onSubmit()">
          <div
            class="p-4 rounded"
            style="
              background-color: #e8e8e8;
              box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
                rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            "
          >
            <div class="d-flex align-items-center gap-5">
              <div class="d-flex flex-column ml-3">
                <label for="category" class="pb-2">Categoria:</label>
                <select
                  name="category"
                  id="category"
                  class="form-select"
                  formControlName="category"
                >
                  <option value="">Selecione uma categoria</option>
                  <option value="MADEIRA">MADEIRA</option>
                  <option value="ALIMENTOS">ALIMENTOS</option>
                  <option value="LIMPEZA">LIMPEZA</option>
                  <option value="OUTROS">OUTROS</option>
                  <option value="ELETRONICOS">ELETRÔNICOS</option>
                  <option value="ROUPAS">ROUPAS</option>
                  <option value="COSMETICOS">COSMÉTICOS</option>
                  <option value="UTENSILIOS">UTENSÍLIOS</option>
                  <option value="FERRAMENTAS">FERRAMENTAS</option>
                  <option value="MATERIAIS_CONSTRUCAO">
                    MATERIAIS DE CONSTRUÇÃO
                  </option>
                  <!-- Opções adicionais -->
                </select>
                <div
                  *ngIf="
                    quotationForm.get('category')?.touched &&
                    quotationForm.get('category')?.invalid
                  "
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle-fill"></i>
                  Categoria é <strong>obrigatória</strong>.
                </div>
              </div>

              <div class="d-flex flex-column ml-3">
                <label for="productName" class="pb-2">Produto:</label>
                <input
                  type="text"
                  id="productName"
                  class="form-control"
                  formControlName="productName"
                  placeholder="Pinga 51"
                />
                <div
                  *ngIf="
                    quotationForm.get('productName')?.touched &&
                    quotationForm.get('productName')?.invalid
                  "
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle-fill"></i>
                  Nome do produto é <strong>obrigatório</strong>.
                </div>
              </div>

              <div class="d-flex flex-column ml-3">
                <label for="quantity" class="pb-2">Quantidade:</label>
                <input
                  type="number"
                  id="quantity"
                  class="form-control"
                  formControlName="quantity"
                  placeholder="51"
                />
                <div
                  *ngIf="
                    quotationForm.get('quantity')?.touched &&
                    quotationForm.get('quantity')?.invalid
                  "
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle-fill"></i>
                  Quantidade deve ser maior que zero.
                </div>
              </div>
            </div>

            <!-- Observação -->
            <div class="form-floating mt-4">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
                formControlName="observation"
              ></textarea>
              <label for="floatingTextarea2">Observação:</label>
            </div>

            <!-- Botão de submit -->
            <button
              type="submit"
              class="btn btn-success mt-5 d-flex align-items-center justify-content-center gap-2"
              [disabled]="quotationForm.invalid"
            >
              <i class="bi bi-send-plus-fill"></i>
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
