<div class="container-fluid main p-3">
  <div>
    <div>
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Cotações pendentes</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Histórico de cotações
          </li>
        </ol>
      </nav>
      <h1 class="px-5"><strong>Solicitar cotação:</strong></h1>
      <div class="p-5">
        <form class="p-4 rounded" style="background-color: #e8e8e8">
          <div class="d-flex align-items-center gap-5">
            <div class="d-flex flex-column ml-3">
              <label for="categoria" class="pb-2">Categoria</label>
              <select name="categoria" id="categoria" class="form-select">
                <option value="MADEIRA">MADEIRA</option>
                <option value="ALIMENTOS">ALIMENTOS</option>
                <option value="LIMPEZA">LIMPEZA</option>
                <option value="OUTROS">OUTROS</option>
                <option value="ELETRONICOS">ELETRÔNICOS</option>
                <option value="ROUPAS">ROUPAS</option>
                <option value="COSMETICOS">COSMÉTICOS</option>
                <option value="UTENSILIOS">UTENSÍLIOS</option>
                <option value="FERRAMENTAS">FERRAMENTAS</option>
                <option value="MATERIAIS_CONSTRUCAO">
                  MATERIAIS DE CONSTRUÇÃO
                </option>
                <!-- Opções adicionais -->
              </select>
            </div>

            <div class="d-flex flex-column ml-3">
              <label for="nome-produto" class="pb-2">Nome do produto</label>
              <input
                type="text"
                id="nome-produto"
                class="form-control"
                placeholder="MDF"
              />
            </div>

            <div class="d-flex flex-column ml-3">
              <label for="quantidade" class="pb-2">Quantidade</label>
              <input
                type="number"
                id="quantidade"
                class="form-control"
                placeholder="0"
                mask="00000"
                [validation]="true"
              />
            </div>
          </div>
          <button
            type="button"
            class="btn btn-success mt-5 d-flex align-items-center justify-content-center gap-2"
          >
            <i class="bi bi-send-plus-fill"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
