<div class="container-fluid main p-3">
  <div>
    <div>
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Cotações</li>
          <li class="breadcrumb-item"><a href="">Histórico de cotações</a></li>
        </ol>
      </nav>
      <h1 class="px-5"><strong>Solicitar cotação:</strong></h1>
      <div class="p-5">
        <div
          class="p-4 rounded"
          style="
            background-color: #e8e8e8;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
              rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          "
        >
          <div class="d-flex align-items-center gap-5">
            <div class="d-flex flex-column ml-3">
              <label for="categoria" class="pb-2">Categoria</label>
              <select name="categoria" id="categoria" class="form-select">
                <option value="MADEIRA">MADEIRA</option>
                <option value="ALIMENTOS">ALIMENTOS</option>
                <option value="LIMPEZA">LIMPEZA</option>
                <option value="OUTROS">OUTROS</option>
                <option value="ELETRONICOS">ELETRÔNICOS</option>
                <option value="ROUPAS">ROUPAS</option>
                <option value="COSMETICOS">COSMÉTICOS</option>
                <option value="UTENSILIOS">UTENSÍLIOS</option>
                <option value="FERRAMENTAS">FERRAMENTAS</option>
                <option value="MATERIAIS_CONSTRUCAO">
                  MATERIAIS DE CONSTRUÇÃO
                </option>
                <!-- Opções adicionais -->
              </select>
            </div>

            <div class="d-flex flex-column ml-3">
              <label for="nome-produto" class="pb-2">Nome do produto</label>
              <input
                type="text"
                id="nome-produto"
                class="form-control"
                placeholder="MDF"
              />
            </div>

            <div class="d-flex flex-column ml-3">
              <label for="quantidade" class="pb-2">Quantidade</label>
              <input
                type="number"
                id="quantidade"
                class="form-control"
                placeholder="0"
                mask="00000"
                [validation]="true"
              />
            </div>
          </div>

          <!-- Mova o textarea para um novo div abaixo dos inputs -->
          <div class="form-floating mt-4">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              style="height: 100px"
            ></textarea>
            <label for="floatingTextarea2">Observação:</label>
          </div>

          <button
            type="submit"
            class="btn btn-success mt-5 d-flex align-items-center justify-content-center gap-2"
            disabled
          >
            <i class="bi bi-send-plus-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
